body, div {
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

.cont {
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
}

.title {
  color: #252733;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 7px;
}

.sub {
  font-size: 15px;
  color: gray;
  text-align: center;
  margin-bottom: 25px;
}

.lab {
  font-size: 13px;
  color: gray;
  margin-bottom: 7px;
  font-family: 'Poppins';
}

.inp {
  font-size: 13px;
  width: 394px;
  height: 40px;
  color: #6C757D;
  border-radius: 3px;
  border: 1px solid gray;
  margin-bottom: 10px;
}

button {
  width: 400px;
  height: 50px;
  color: white;
  background-color: #3C64B1;
  border-radius: 3px;
  border: 1px solid #3c64b1;
  margin-top: 10px;
}

.adbtn3 {
  float: left;
  text-align: center;
  color: white;
  background-color: #3c64b1;
  border: 1px solid #3c64b1;
  padding: 7px 13px;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
}

.adbtn4 {
  float: left;
  text-align: center;
  padding: 7px 13px;
  color: #495057;
  background-color: white;
  border: 1px solid #dee2e6;
  cursor: pointer;
}

.btns2 {
  font-size: 13px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 50px;
}